services:
  proxy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: proxy
    ports:
      - "8004:8000"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./MASTER_CONFIG.json:/MASTER_CONFIG.json
    sysctls:
      - net.ipv4.tcp_max_syn_backlog=4096
      - net.ipv4.tcp_syncookies=1
      - net.ipv4.tcp_synack_retries=2
      - net.core.somaxconn=4096
    cpuset: "4,5"
    mem_limit: 2g
    networks:
      - ddos-shared

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:1.4
    container_name: nginx-exporter
    command: ["--nginx.scrape-uri=http://proxy:8000/stub_status"]
    depends_on:
      - proxy
    cpuset: "3"
    mem_limit: 2g
    networks:
      - ddos-shared

  proxy-fastapi:
    build:
      context: ../../
      dockerfile: nodes/proxy/Dockerfile.python
    container_name: proxy-fastapi
    cpuset: "4,5"
    mem_limit: 2g
    ports:
      - "8040:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock #FOR LOCAL RESTART REMOVE ON PROD, ROOT ACCESS = BAD
      - ./MASTER_CONFIG.json:/MASTER_CONFIG.json

    #   - ./app:/app
    networks:
      - ddos-shared

networks:
  ddos-shared:
    external: true
