services:
  proxy:
    build:
      context: .
      dockerfile: Dockerfile.pi
    container_name: proxy
    ports:
      - "8000:8000"
    volumes:
      # - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./MASTER_CONFIG.json:/MASTER_CONFIG.json
    sysctls:
      - net.ipv4.tcp_max_syn_backlog=4096
      - net.ipv4.tcp_syncookies=1
      - net.ipv4.tcp_synack_retries=2
      # - net.core.somaxconn=4096

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:1.4
    container_name: nginx-exporter
    command: ["--nginx.scrape-uri=http://192.168.192.204:8000/stub_status"]
    depends_on:
      - proxy

  proxy-fastapi:
    build:
      context: ../../
      dockerfile: nodes/proxy/Dockerfile.python
    container_name: proxy-fastapi
    ports:
      - "8001:8001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock #FOR LOCAL RESTART REMOVE ON PROD, ROOT ACCESS = BAD
      - ./MASTER_CONFIG.json:/MASTER_CONFIG.json
