services:
  proxy:
    build:
      context: .
      dockerfile: Dockerfile.pi
    container_name: proxy
    ports:
      - "8000:8000"
    volumes:
      # - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./MASTER_CONFIG.json:/MASTER_CONFIG.json
    sysctls:
      - net.ipv4.tcp_max_syn_backlog=4096
      - net.ipv4.tcp_syncookies=1
      - net.ipv4.tcp_synack_retries=2
      # - net.core.somaxconn=4096

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:1.4
    container_name: nginx-exporter
    command: ["--nginx.scrape-uri=http://proxy:8000/stub_status"]
    ports:
      - "9113:9113"
    depends_on:
      - proxy

  proxy-fastapi:
    build:
      context: ../../
      dockerfile: nodes/proxy/Dockerfile.pi.python
    container_name: proxy-fastapi
    ports:
      - "8001:8001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock #FOR LOCAL RESTART REMOVE ON PROD, ROOT ACCESS = BAD
      - ./MASTER_CONFIG.json:/MASTER_CONFIG.json
  proxy_node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: proxy_node_exporter
    restart: unless-stopped
    network_mode: host
    # pid: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'

      - '--collector.ethtool'
      - '--collector.softirqs'
      - '--collector.interrupts'
      - '--collector.tcpstat'
      - '--collector.qdisc'

      - '--no-collector.buddyinfo'
      - '--no-collector.ksmd'
      - '--no-collector.cpu_vulnerabilities'
      - '--no-collector.zoneinfo'
      - '--no-collector.mountstats'
      - '--no-collector.drbd'
      - '--no-collector.drm'
      - '--no-collector.wifi'
      - '--no-collector.xfrm'
      - '--no-collector.logind'
      - '--no-collector.systemd'

    ports:
      - "9100:9100"
