
version: "3.8"

services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./pi/prometheus:/etc/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.pi.yml"
    restart: always

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    logging:
      driver: none
    volumes:
      - ./pi/grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ./pi/grafana/grafana-data:/var/lib/grafana
      - ./pi/grafana/provisioning:/etc/grafana/provisioning
      - ./pi/grafana:/var/lib/grafana
    restart: always

